
.section { 
    min-width: 100%;
    min-height: 100%; 
}


.container {
  min-width: 100%;
  overflow: hidden;
  max-width: 55rem;
  min-height: 100%;
  padding: .5rem;
}


.center {
  margin: 0 auto;
  width: 100%;
  padding: 0;
  position: relative;  

  @media(min-width: 1020px){
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}


.split {
  display: flex;
  flex-direction: column;
}

@media (min-width: 40em) {
  .split {
      flex-direction: row;
  }
  .split > * {
      flex-basis: 100%;
  }
 .split > * + * {
    margin-left: 2em;
  }
}

.split-reverse {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 40em) {
  .split-reverse {
    flex-direction: row;
    margin: 0 auto;
  }
  .split-reverse > * {
      flex-basis: 100%;
  }
  .split-reverse > * + * {
    margin-right: 2em;
  }
}


.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-center-vertical { 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


// Color Selectors

.black {
  color: $black;
}

.white {
  color: $neutral--00;
}

.grey-ul {
  color: $neutral--100;
}

.grey-light {
  color: $neutral--200;
}
.grey-med { 
  color: $neutral--300;
}

.grey-dark {
  color: $neutral--800;
}

.primary-200 {
  color: $primary-color--200;
}

.primary-500 {
  color: $primary-color--500;
}

.primary-700 {
  color: $primary-color--700;
}
.secondary-200 {
  color: $secondary-color--200;
}

.secondary-300 {
  color: $secondary-color--300;
}
.secondary-500 {
  color: $secondary-color--500;
}
.secondary-700 {
  color: $secondary-color--700;
}

.neutral-200 { 
  color: $neutral--200;
}

// BG Selectors



.bg-black {
  background: $black;
}

.bg-primary { 
  background: $primary-color--700;
}


.bg-gray {
  background: $neutral--800;
}

.bg-ul {
  background: $neutral--100;
}

.bg-white { 
  background: $neutral--00;
}